.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 89vh;
}

form{
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 10px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    margin: 25px;
}

form .input-box{
    margin-top: 20px;
}

.input-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

.input-box .field.mess{
    height: 120px;
    resize: none;
}

form button{
    width: 100%;
    height: 55px;
    /* background-color: #2fc6de; */
    border: 2px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    /* color: #fff; */
    font-weight: 500;
    margin-top: 25px;
    transition: 0.3s;
}

form button:hover{
    font-size: 18px;
}



.contact {
    padding: 20px; /* Adjust as needed */
}
  
.contact form {
    margin: 40px auto; /* Center the form by default */
    max-width: 600px; /* Set a max width for larger screens */
}
  
  /* Add responsive margins */
@media (max-width: 768px) {
    .contact form {
        margin: 40px 20px; /* Add horizontal margins on smaller screens */
    }
    .contact h1{
        font-size: 3rem;
    }
}
  
@media (max-width: 480px) {
    .contact form {
        margin: 40px 10px; /* Add smaller horizontal margins on very small screens */
    }
    .contact h1{
        font-size: 2.25rem;
    }
}
  